$color: #333;
.tooltip {
    position: fixed;
    z-index: 1000;
}

.content {
    position: relative;
    background-color: $color;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;

    .icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .above {
        bottom: -32px;
    }

    .below {
        top: -24px;
    }
}

mat-icon {
    color: $color;
    width: 48px;
    height: 48px;
    font-size: 48px;
}